trunk/cs751homework4/gen-wsdl/OrderServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://service.cs751homework4.edu/" name="OrderServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://service.cs751homework4.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.cs751homework4.edu/" schemaLocation="OrderServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getOrders">
    <part name="parameters" element="tns:getOrders"/>
  </message>
  <message name="getOrdersResponse">
    <part name="parameters" element="tns:getOrdersResponse"/>
  </message>
  <message name="getOrder">
    <part name="parameters" element="tns:getOrder"/>
  </message>
  <message name="getOrderResponse">
    <part name="parameters" element="tns:getOrderResponse"/>
  </message>
  <message name="addOrder">
    <part name="parameters" element="tns:addOrder"/>
  </message>
  <message name="addOrderResponse">
    <part name="parameters" element="tns:addOrderResponse"/>
  </message>
  <message name="updateOrder">
    <part name="parameters" element="tns:updateOrder"/>
  </message>
  <message name="updateOrderResponse">
    <part name="parameters" element="tns:updateOrderResponse"/>
  </message>
  <message name="deleteOrder">
    <part name="parameters" element="tns:deleteOrder"/>
  </message>
  <message name="deleteOrderResponse">
    <part name="parameters" element="tns:deleteOrderResponse"/>
  </message>
  <portType name="OrderService">
    <operation name="getOrders">
      <input wsam:Action="http://service.cs751homework4.edu/OrderService/getOrdersRequest" message="tns:getOrders"/>
      <output wsam:Action="http://service.cs751homework4.edu/OrderService/getOrdersResponse" message="tns:getOrdersResponse"/>
    </operation>
    <operation name="getOrder">
      <input wsam:Action="http://service.cs751homework4.edu/OrderService/getOrderRequest" message="tns:getOrder"/>
      <output wsam:Action="http://service.cs751homework4.edu/OrderService/getOrderResponse" message="tns:getOrderResponse"/>
    </operation>
    <operation name="addOrder">
      <input wsam:Action="http://service.cs751homework4.edu/OrderService/addOrderRequest" message="tns:addOrder"/>
      <output wsam:Action="http://service.cs751homework4.edu/OrderService/addOrderResponse" message="tns:addOrderResponse"/>
    </operation>
    <operation name="updateOrder">
      <input wsam:Action="http://service.cs751homework4.edu/OrderService/updateOrderRequest" message="tns:updateOrder"/>
      <output wsam:Action="http://service.cs751homework4.edu/OrderService/updateOrderResponse" message="tns:updateOrderResponse"/>
    </operation>
    <operation name="deleteOrder">
      <input wsam:Action="http://service.cs751homework4.edu/OrderService/deleteOrderRequest" message="tns:deleteOrder"/>
      <output wsam:Action="http://service.cs751homework4.edu/OrderService/deleteOrderResponse" message="tns:deleteOrderResponse"/>
    </operation>
  </portType>
  <binding name="OrderServiceImplPortBinding" type="tns:OrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getOrders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteOrder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrderServiceImplService">
    <port name="OrderServiceImplPort" binding="tns:OrderServiceImplPortBinding">
      <soap:address location="http://localhost:8080/axis2/services/OrderServiceImplService"/>
    </port>
  </service>
</definitions>

