cs751homework4/resources/META-INF/OrderServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://service.cs751homework4.edu/" xmlns:tns="http://service.cs751homework4.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addOrder" type="tns:addOrder"/>

  <xs:element name="addOrderResponse" type="tns:addOrderResponse"/>

  <xs:element name="deleteOrder" type="tns:deleteOrder"/>

  <xs:element name="deleteOrderResponse" type="tns:deleteOrderResponse"/>

  <xs:element name="getOrder" type="tns:getOrder"/>

  <xs:element name="getOrderResponse" type="tns:getOrderResponse"/>

  <xs:element name="getOrders" type="tns:getOrders"/>

  <xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>

  <xs:element name="updateOrder" type="tns:updateOrder"/>

  <xs:element name="updateOrderResponse" type="tns:updateOrderResponse"/>

  <xs:complexType name="addOrder">
    <xs:sequence>
      <xs:element name="arg0" type="tns:order" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element name="billTo" type="tns:billTo" minOccurs="0"/>
      <xs:element name="orderId" type="xs:string" minOccurs="0"/>
      <xs:element name="orderItems" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="billTo">
    <xs:sequence>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="street" type="xs:string" minOccurs="0"/>
      <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="price" type="xs:double"/>
      <xs:element name="productName" type="xs:string" minOccurs="0"/>
      <xs:element name="quantity" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteOrder">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateOrder">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="tns:item" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrder">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrderResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:order" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getOrders">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getOrdersResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:order" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

